.pendulumClock{
  position: relative;
    height: 260px;
    width: 260px;
    border: 15px double #7f5539;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #b08968;
    z-index:3;
  }
  .pendulumClock .clockCircle{
    position: relative;
    height: 200px;
    width: 200px;
    background: #C7D2A5 url("https://img.myloview.pl/fototapety/tarcza-zegara-czarny-pusty-zegar-z-cyframi-rzymskimi-700-106905691.jpg") no-repeat center center;
    background-size: 230px 230px;
    border: 4px solid #7f5539;
    border-radius: 50%;
    justify-content: center;
    box-shadow: 5px 5px 50px 5px #7f5539;
  }
  .pendulumClock .hourClockHand{
    height: 120px;
    width: 3px;
    position: absolute;
  }
  .pendulumClock .minuteClockHand{
    height: 160px;
    width: 5px;
    position: absolute;
  }
  .pendulumClock .hoursPendulum{
    height: 50px;
    width: 5px;
    background: #6c584c;
    position: absolute;
    left: 96px;
    top: 55px;
    transform-origin: 0% 100%;
  }
  .pendulumClock .minutesPendulum{
    height: 70px;
    width: 2px;
    background: #b08968;
    position: absolute;
    left: 96px;
    top: 33px;
    transform-origin: 0% 100%;
  }
  .pendulumClock .centralCircle{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #6c584c;
    position: absolute;
    top: 48%;
    left: 47%;
  }

  .pendulum{
    position: absolute;
    top: 105.5%;
    left: 50%;
    transform-origin: 100% 0;
    height: 130px;
    width: 10px;
    border-radius: 10px;
    background: rgb(54, 36, 36);
    box-shadow: 33px 8px 24px 0px rgba(66, 68, 90, 0.52);
    animation: movePendulum 2s infinite;
    animation-timing-function: linear;
    z-index:1;
  }
  @keyframes movePendulum{
    0%{transform: rotate(-20deg)}
    50%{transform: rotate(20deg)}
    100%{transform: rotate(-20deg)}
  }
  .pendulumClock .circle{
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: rgb(54, 36, 36);
    top: 80px;
    left: -16px;
  }