.standard-clock{
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 50%;
    background: #fff url(assets/ios_clock.svg) no-repeat center;
    background-size: 88%;
    position: relative;
  }
  
  .standard-clock .hours-hand {
    background: #000;
    height: 20%;
    left: 48.75%;
    position: absolute;
    top: 30%;
    transform-origin: 50% 100%;
    width: 2.5%;
  }
  
  .standard-clock .minutes-hand {
    background: #000;
    height: 40%;
    left: 49%;
    position: absolute;
    top: 10%;
    transform-origin: 50% 100%;
    width: 2%;
  }
  
  .standard-clock .seconds-hand {
    background: red;
    height: 45%;
    left: 49.5%;
    position: absolute;
    top: 14%;
    transform-origin: 50% 80%;
    width: 1%;
    z-index: 8;
  }
  .centralCircle{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: black;
    position: absolute;
    top: 48%;
    left: 47%;
    z-index: 9;
  }
  /* second standard clock  */
  .secondStandard{
    background-image: url("assets/secondStandardClock.jpg");
    background-size: 120%;
    border: 10px outset #BBB52B;
  }

  /* third standard clock - brown */
  .thirdStandard{
    background: #a98467;
    border: 10px solid #adc178;
    border-radius: 25%;
    font-family: 'Cairo', sans-serif;
    font-family: 'Tilt Prism', cursive;
    font-size: 32px;
    color: #f0ead2;
  }
  .thirdStandard .centralCircle{
    background: #5e503f;
  }
  .number{
    position: absolute;
  }
  .twelve{
    top: 5px;
    left: 90px;
  }
  .three{
    top: 80px;
    left: 180px;
  }
  .six{
    bottom: 5px;
    left: 90px;
  }
  .nine{
    top: 80px;
    left: 10px;
  }
  .thirdStandard .hours-hand{
    background: #5e503f;
  }
  .thirdStandard .minutes-hand{
    background: #6c584c;
  }