@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Caprasimo&family=DM+Sans:opsz,wght@9..40,600&family=Tilt+Prism&display=swap');
#stoper{
  border-radius: 50%;
  height: 220px;
  width: 220px;
  background: #da627d;
  font-family: 'Caprasimo', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff3b0;
  border: 20px solid #f4978e;
  }
.time {
    font-size: 40px;
    margin: 20px;
  }
.controls {
    margin: 20px;
  }
button{
  color: #f94144;
  background: #f7cad0;
  border: 1px solid #f7cad0;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  font-family: 'Caprasimo', cursive;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  padding: 0px;
}